body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 3px 0; /* Adjust the padding values */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#tony-logo {
    width: 80px; /* Adjust the logo width */
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 5px; /* Adjust the margin values */
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px; /*
